/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/app/private
/storage/app/public/images
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views
/storage/logs
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
*.log
.phpunit.result.cache
.idea
.vscode
*.swp
*.swo
